@backColor: #fff;
@fontColor: #000;
@linkColor:#000;
@headFontSize:42px;
@containerWidht:1000px;
@formBorderColor:#cccccc;
@formControlboxShadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
@formControlboxShadowHover:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
.fontDefault (@fontWight:400; @fontSize:14px; @lineHeight:1.42857143; @fontFamaly:"Helvetica Neue", Helvetica, Arial, sans-serif;){
	font-weight:@fontWight;
	font-size:@fontSize;
	line-height:@lineHeight;
	font-family:@fontFamaly;
}
*, *:before, *:after {box-sizing: border-box;}
.bx-core-window * {
	box-sizing:content-box;
	vertical-align:top;
}

html {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body {
	.fontDefault;
	color: @fontColor;
	background-color:@backColor;
}
*, a:hover, a:active {outline:none !important;} 
a {color: @linkColor; text-decoration: underline;}
a:hover, a:focus {color: #; text-decoration: none;}
a:focus {outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
::-moz-selection { background: #3360c0; color: #fff; text-shadow: none; }
::selection { background: #3360c0; color: #fff; text-shadow: none; }
/*1. Default Styles*/
/*1.1 Default Typography*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: inherit; font-weight: 500; font-style:normal; line-height: 1.1; color: inherit; text-rendering:optimizeLegibility;}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {font-weight: normal; line-height: 1; color: #999999;}
h1, .h1, h2, .h2, h3, .h3 {margin-top: 20px; margin-bottom: 10px;}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {font-size: 65%;}
h4, .h4, h5, .h5, h6, .h6 {margin-top: 10px; margin-bottom: 10px;}
h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {font-size: 75%;}
h1, .h1 {font-size: @headFontSize;}
h2, .h2 {font-size: @headFontSize - 6;}
h3, .h3 {font-size: @headFontSize - 10;}
h4, .h4 {font-size: @headFontSize - 15;}
h5, .h5 {font-size: @headFontSize - 20;}
h6, .h6 {font-size: 12px;}
p {margin: 0 0 10px; text-rendering:optimizeLegibility; line-height:inherit; font-size:inherit}
hr {margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #eeeeee;}
em, i {font-style: italic; line-height: inherit;}
strong,b {font-weight: bold; line-height: inherit;}
small {font-size: 85%; line-height: inherit;}
img {vertical-align: middle;}
.page ul,
.page ol {margin-top: 10px; margin-bottom: 10px; padding:20px 0 20px 40px}
	.page ul li {list-style: outside disc; margin-bottom:5px;}
	.page ul li li {list-style:outside circle;}
	.page ol li {list-style:outside decimal; margin-bottom:5px;}
.page ul ul,
.page ol ul,
.page ul ol,
.page ol ol {padding:0 0 0 30px; }
pre {font-family: Menlo, Monaco, Consolas, "Courier New", monospace; display: block; padding: 9.5px; margin: 0 0 10px; font-size: 13px; line-height: 1.42857143; word-break: break-all; word-wrap: break-word; color: #333333;  background-color: #f5f5f5; border: 1px solid #cccccc; border-radius: 4px;}

/*1.2 Default table*/
.page table {max-width: 100%; background-color: #ffffff;}
th {text-align: left;}

/*1.3 Deafult form*/
label {display: inline-block; margin-bottom: 5px; font-weight: bold;}
input[type="search"] {box-sizing: border-box;}
input[type="radio"],
input[type="checkbox"] {margin: 4px 0 0; margin-top: 1px \9; line-height: normal;}
input[type="file"] {display: block;}
input[type="range"] {display: block; width: 100%;}
select[multiple],
select[size] {height: auto;}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
.page label,
.page select,
.page button,
.page input[type="button"],
.page input[type="reset"],
.page input[type="submit"],
.page input[type="radio"],
.page input[type="checkbox"] {cursor: pointer;}
input[type="search"] {-webkit-appearance: none;}
input[type="date"] {line-height: 34px;}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {cursor: not-allowed;}

/*2. Helpfull Styles*/
/*2.1 Typography*/
.help-block {padding:20px; display:block;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.text-muted {color: #999999;}
.text-primary {color: #428bca;}
a.text-primary:hover {color: #3071a9;}
.text-success {color: #3c763d;}
a.text-success:hover {color: #2b542c;}
.text-info {color: #31708f;}
a.text-info:hover {color: #245269;}
.text-warning {color: #8a6d3b;}
a.text-warning:hover {color: #66512c;}
.text-danger {color: #a94442;}
a.text-danger:hover {color: #843534;}
.bg-message {margin:0 0 8px; padding:5px 10px;}
.bg-primary {color: #fff; background-color: #428bca;}
a.bg-primary:hover {background-color: #3071a9;}
.bg-success {background-color: #dff0d8;}
a.bg-success:hover {background-color: #c1e2b3;}
.bg-info {background-color: #d9edf7;}
a.bg-info:hover {background-color: #afd9ee;}
.bg-warning {background-color: #fcf8e3;}
a.bg-warning:hover {background-color: #f7ecb5;}
.bg-danger {background-color: #f2dede;}
a.bg-danger:hover {background-color: #e4b9b9;}
.page .no-list,
.page .no-list>li {margin:0; padding:0; list-style:none}
.page .left-list>li {float:left;}
.page .left-list-ib>li {display:inline-block; vertical-align:top;}
.img-responsive {display: block; max-width: 100%; height: auto;}
.img-rounded {border-radius: 6px;}
.img-circle {border-radius: 50%;}
.clear {font-size:0; height:0; display:block; clear:both}
.clearfix:after,
.left-list:after {visibility: hidden; display: table; content: " "; clear: both; height: 0; line-height: 0;}
.overflow {overflow:hidden;}
.left {float:left; display: block}
.right {float:right; display:block}
.ib {display:inline-block;}
.block { display:block;}
.none {display:none;}
.visible {visibility:visible;}
.hidden {visibility:hidden;}
.hide-text {font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0;}
.page img[align=left] {margin:0 20px 10px 0;}
.page img[align=right] {margin:0 0 10px 20px;}
a img {border:0; outline:none}
a.dotted {text-decoration:none; border-bottom:1px dotted;}
a.dashed {text-decoration:none; border-bottom:1px dashed;}
a.dashed:hover,
a.dotted:hover {border-bottom:0; margin-bottom:1px;}
a.notlined {text-decoration:none;}
a.notlined:hover {text-decoration:underline;}
.chromeframe {position:fixed; top:50%; left:25%; z-index:9999; background:#fff;	padding:50px;}
.container {margin-left:auto; margin-right:auto; padding-left:10px; padding-right:10px; width:@containerWidht;}
.no-padding {padding:0 !important;}
.no-margin {margin:0 !important;}
/*12 column grid*/
.row {margin-left: -10px; margin-right: -10px;}
.row:before, .row:after {display: table; line-height: 0; content: " "; visibility: hidden;}
.row:after {clear: both;}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {float: left; position: relative; min-height: 1px; padding-left: 10px; padding-right: 10px;}
.col-md-12 { width: 100%;}
.col-md-11 { width: 91.66666667%;}
.col-md-10 { width: 83.33333333%;}
.col-md-9 { width: 75%;}
.col-md-8 { width: 66.66666667%;}
.col-md-7 { width: 58.33333333%;}
.col-md-6 { width: 50%;}
.col-md-5 {width: 41.66666667%;}
.col-md-4 {width: 33.33333333%;}
.col-md-3 {width: 25%;}
.col-md-2 {width: 16.66666667%;}
.col-md-1 {width: 8.33333333%;}
.col-md-pull-12 {right: 100%;}
.col-md-pull-11 {right: 91.66666667%;}
.col-md-pull-10 {right: 83.33333333%;}
.col-md-pull-9 {right: 75%;}
.col-md-pull-8 {right: 66.66666667%;}
.col-md-pull-7 {right: 58.33333333%;}
.col-md-pull-6 {right: 50%;}
.col-md-pull-5 {right: 41.66666667%;}
.col-md-pull-4 {right: 33.33333333%;}
.col-md-pull-3 {right: 25%;}
.col-md-pull-2 {right: 16.66666667%;}
.col-md-pull-1 {right: 8.33333333%;}
.col-md-pull-0 {right: 0%;}
.col-md-push-12 {left: 100%;}
.col-md-push-11 {left: 91.66666667%;}
.col-md-push-10 {left: 83.33333333%;}
.col-md-push-9 {left: 75%;}
.col-md-push-8 {left: 66.66666667%;}
.col-md-push-7 {left: 58.33333333%;}
.col-md-push-6 {left: 50%;}
.col-md-push-5 {left: 41.66666667%;}
.col-md-push-4 {left: 33.33333333%;}
.col-md-push-3 {left: 25%;}
.col-md-push-2 {left: 16.66666667%;}
.col-md-push-1 {left: 8.33333333%;}
.col-md-push-0 {left: 0%;}
.col-md-offset-12 {margin-left: 100%;}
.col-md-offset-11 {margin-left: 91.66666667%;}
.col-md-offset-10 {margin-left: 83.33333333%;}
.col-md-offset-9 {margin-left: 75%;}
.col-md-offset-8 {margin-left: 66.66666667%;}
.col-md-offset-7 {margin-left: 58.33333333%;}
.col-md-offset-6 {margin-left: 50%;}
.col-md-offset-5 {margin-left: 41.66666667%;}
.col-md-offset-4 {margin-left: 33.33333333%;}
.col-md-offset-3 {margin-left: 25%;}
.col-md-offset-2 {margin-left: 16.66666667%;}
.col-md-offset-1 {margin-left: 8.33333333%;}
.col-md-offset-0 {margin-left: 0%;}

/*2.2 Table*/
.table {width: 100%; margin-bottom: 20px;}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {padding: 8px; line-height: 1.42857143; vertical-align: top; border-top: 1px solid #dddddd;}
.table > thead > tr > th {vertical-align: bottom; border-bottom: 2px solid #dddddd;}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {border-top: 0;}
.table > tbody + tbody {border-top: 2px solid #dddddd;}
.table .table {background-color: #ffffff;}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {padding: 5px;}
.table-bordered {border: 1px solid #dddddd;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {border: 1px solid #dddddd;}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {border-bottom-width: 2px;}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {background-color: #f9f9f9;}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {background-color: #f5f5f5;}
table col[class*="col-"] {position: static; float: none; display: table-column;}
table td[class*="col-"],
table th[class*="col-"] {position: static; float: none; display: table-cell;}
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {background-color: #f5f5f5;}
.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th {background-color: #e8e8e8;}
.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {background-color: #dff0d8;}
.table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr.success:hover > th {background-color: #d0e9c6;}
.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {background-color: #d9edf7;}
.table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr.info:hover > th {background-color: #c4e3f3;}
.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning,  .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td,  .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {background-color: #fcf8e3;}
.table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover, .table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr.warning:hover > th {background-color: #faf2cc;}
.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {background-color: #f2dede;}
.table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr.danger:hover > th {background-color: #ebcccc;}

/*2.3 Form*/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  .fontDefault;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid @formBorderColor;
  box-shadow: @formControlboxShadow;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control.radius {border-radius:4px;}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: @formControlboxShadowHover;
}
.form-control::-moz-placeholder {color: #999999; opacity: 1;}
.form-control:-ms-input-placeholder {color: #999999;}
.form-control::-webkit-input-placeholder {color: #999999;}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {cursor: not-allowed; background-color: #eeeeee; opacity: 1;}
textarea.form-control {height: auto;}
.form-group {margin-bottom: 15px;}
.radio,
.checkbox {display: block; min-height: 20px; margin-top: 10px; margin-bottom: 10px; padding-left: 20px;}
.radio label,
.checkbox label {display: inline; font-weight: normal; cursor: pointer;}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {float: left; margin-left: -20px;}
.radio + .radio,
.checkbox + .checkbox {margin-top: -5px;}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {margin-top: 0; margin-left: 10px;}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn:active, .btn.active {background-image: none;}
.btn-default {color: #333; background-color: #fff; border-color: #ccc;}
.btn-default:hover, .btn-default:focus {background-color: #e0e0e0; background-position: 0 -15px;}
.btn-default:active, .btn-default.active {background-color: #e0e0e0; border-color: #dbdbdb;}
.ink-reaction {
  position: relative;
  overflow: hidden;
}
.ink-reaction .ink {
	position: absolute;
	width: 200px;
	height: 200px;
	margin-left: -100px;
	margin-top: -100px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	z-index: 4;
	pointer-events: none;
	opacity: 0;
	animation: ripple-animation 1.5s;
}
.ink-reaction .ink.inverse {
  background-color: rgba(12, 12, 12, 0.5);
}
@keyframes ripple-animation {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1, 1);
    opacity: 0;
  }
}