@backColor: #fff;
@fontColor: #333;
@linkColor:#2a6496;
@headFontSize:36px;
@containerWidht:960px;
@formBorderColor:#cccccc;
@formControlboxShadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
@formControlboxShadowHover:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
.page {
	background:#35f1bf;
	display:block;
	width:100%;
	min-width:960px;
	min-height:100%;
	overflow: hidden;
}