/* absolute path to images is required to make crm-sale proxy work */

.bx-slst .dropdown-block {
	
	position: relative;
	background-color: #fff;
    display: block;
    width: 100%;
    height: 46px;
    padding: 0 22px 0 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dadada;
    margin-bottom: 7px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-appearance: none;
}
.bx-slst .dropdown-block:last-child {
	margin-bottom: 0;
}

.bx-slst .dropdown-arrow {
	background: url(/bitrix/components/bitrix/sale.location.selector.steps/templates/.default/images/dropdown-errow.png) no-repeat center center;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	width: 22px;
}

.bx-slst .bx-ui-combobox-fake,
.bx-slst .bx-ui-combobox-route {
	background: transparent !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: #000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 44px;
	width: 100%;
	outline: none;
	padding: 0;
}

.bx-slst .bx-ui-combobox-container {
	overflow: hidden;
}
.bx-slst .bx-ui-combobox-dropdown {
	max-height: 300px;
	background-color: #fff;
	z-index: 999;
	border: 1px solid #dadada;
}
.bx-slst .bx-ui-combobox-dropdown {
	border: 1px solid #dadada;
	display: none;
	max-height: 200px;
	overflow-y: auto;
	left: 0;
	top: 44px;
	padding: 5px 5px 3px 5px;
	position: absolute;
	width: 100%;
}

.bx-slst .dropdown-active .bx-ui-combobox-dropdown {
	display: block;
}

.bx-slst .bx-ui-combobox-variants {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bx-slst .dropdown-item {
	border-radius: 2px;
	padding: 7px 4px 7px 10px;
	margin-bottom: 2px;
}

.bx-slst .dropdown-item:hover {
	background-color: #f1f3f5;
	cursor: pointer;
}

.bx-slst .dropdown-img {
	border: none;
	display: inline-block;
	height: 12px;
	margin: 3px 12px 0 0;
	vertical-align: top;
	width: 16px;
}

.bx-slst .dropdown-item-text {
	/*makeup:color: #212121;*/
	color: #aba8ac;
	display: inline-block;
	/*max-width: 220px;*/ /*silly limitation*/
	vertical-align: top;
}

.bx-slst .dropdown-item-text span{
	color: #25282c;
}

.bx-slst .dropdown-list-title {
	border-bottom: 1px solid #e5e5e5;
	height: 37px;
	line-height: 37px;
	padding-left: 8px;
}

.bx-slst .dropdown-icon {
	background: url(/bitrix/components/bitrix/sale.location.selector.steps/templates/.default/images/lens.png) no-repeat center center;
	height: 14px;
	left: 10px;
	position: absolute;
	top: 16px;
	width: 14px;
}

.bx-slst .quick-locations{
	margin-bottom: 5px;
}
.bx-slst .quick-location-tag {
	background-color: #f2f5f8;
	border: 1px solid #cad3dc;
	border-radius: 3px;
	color: #1e55b9;
	display: inline-block;
	font-size: 15px;
	height: 27px;
	line-height: 26px;
	margin: 0 3px;
	padding: 0 14px;
	text-decoration: none;
	margin-bottom: 10px;
}
.bx-slst .quick-location-tag:hover{
	background-color: #fafafa;
}

.bx-slst .dropdown-fade2white{
	width: 32px;
	height: 31px;
	position: absolute;
	top: 2px;
	right: 0;

	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(30%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.bx-slst .bx-ui-combobox-toggle{
	background: url(/bitrix/panel/main/images/bx-admin-sprite-small.png) 6px -2618px no-repeat scroll;
	width: 30px;
	height: 30px;
	cursor: pointer;
	cursor: hand;
	margin-top: 8px;

	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
}
.bx-slst .bx-ui-combobox-toggle:hover{
	background-position: 6px -2696px;
}

.bx-slst .bx-ui-combobox-loader{
	background-image: url(/bitrix/panel/main/images/waiter-white.gif) !important;
	background-repeat: no-repeat !important;
	background-position: right -1px !important;

	width: 30px;
	height: 30px;

	position: absolute;
	top: 3px;
	right: 2px;
	display: none;
}

.bx-slst .bx-ui-combobox-go-edit{
	display: none;
}


.bx-slst .bx-ui-pager-area {
	height: 40px;
	text-align: center;
	color: gray;
	padding: 10px 0 0 0;
}

.bx-slst input[type="text"]{
	position: relative;
}

.bx-slst input::-ms-clear {
	display: none;
}



.bx-slst .bx-ui-combobox-variant{
	cursor: pointer;
	cursor: hand;
}

.bx-slst .bx-ui-combobox-variant,
.bx-slst .bx-ui-combobox-error{
	padding: 10px 10px;
}
.bx-slst .bx-ui-combobox-error{
	color: #ff2222;
	padding-left: 30px;
	position: relative;
}
.bx-slst .bx-ui-combobox-error div{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 25px;
	background: url(/bitrix/panel/main/images/bx-admin-sprite-small.png) 6px -2895px no-repeat scroll;
}
.bx-slst .bx-ui-combobox-variant:hover,
.bx-slst .bx-ui-combobox-variant-active{
	background-color: #E0E8EA;
}

.adm-sls-edit-link{
	margin-top: 10px;
}

/* admin correction */
.bx-admin-mode .bx-sls-go-edit{
	margin-left: 10px;
	display: none;
}

.bx-admin-mode .dropdown-block {
	border-color: #87919c #959ea9 #9ea7b1;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 2px 2px -1px rgba(180, 188, 191, 0.7) inset;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 2px 2px -1px rgba(180, 188, 191, 0.7) inset;
	height: 25px;
}

.bx-slst.bx-admin-mode .bx-ui-combobox-fake,
.bx-slst.bx-admin-mode .bx-ui-combobox-route {
	height: 25px;
}

.bx-slst.bx-admin-mode .dropdown-icon {
	top: 7px;
}

.bx-slst.bx-admin-mode .dropdown-fade2white {
	height: 22px;
}

.bx-slst.bx-admin-mode .dropdown-fade2white {
	right: 1px;
}

.bx-slst.bx-admin-mode .bx-ui-combobox-toggle {
	background-position: 6px -2623px;
	height: 22px;
}

/*
.bx-slst.bx-admin-mode .bx-ui-combobox-toggle:hover{
	background-position: 6px -3421px;
}
*/

.bx-slst.bx-admin-mode .bx-ui-combobox-loader {
	background-position: right -4px !important;
	height: 21px;
}

.bx-slst.bx-admin-mode .bx-ui-combobox-dropdown {
	top: 27px;
}

.bx-slst .bx-ui-state-items-discover-in-progress .bx-ui-combobox-loader{
	display: block;
}

.bx-ui-slst-pool select {
	margin: 10px 10px 0 0;
}

div[data-bx-ui-id="error"]{
	display: none;
}
.bx-ui-state-error div[data-bx-ui-id="error"] {
	display: block;
}
.bx-ui-slst-other-item,
.bx-ui-combobox-deselect-item {
	border-bottom: 1px solid gray;
}
.bx-ui-sls-tree-trunk{
	padding: 0 0 9px 30px;
}
.disabled-keyboard{
	cursor: pointer;
	cursor: hand;
}
.disabled-keyboard input{
	cursor: inherit;
}

.bx-ui-combobox-container .bx-combobox-fake-as-input{
	padding-top: 9px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}